#projects {
  width: 90%;
  margin: 40px auto;
}

.projects-header {
  h3 {
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 24px;
    font-weight: normal;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: solid 1px $gray-light;
  }
}

.projects-container {
  display: block;
  .project {
    position: relative;
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
    &-text {
      position: absolute;
      top: 0;
      left: 0;
      background-color: $black;
      color: $white;
      width: fit-content;
      padding: 8px 16px;
    }
    &-img {
      width: 100%;
      height: auto;
    }
  }
}

// Extra Small devices
@media (max-width: 576px) {}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .projects-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    .project {
      margin-bottom: 0;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .projects-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {}